@mixin make-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin make-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin page-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin material-icon-default {
  position: relative;
  top: 4px;
  left: 2px;
}
